# OPERATIONS ON INDEXES

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/medals.csv')
df

    Year Medal Type   US  Canada  England  Australia
0   2001       Gold  278     188       39         44
1   2001     Silver  324     235       82         66
2   2001     Bronze  446     399      100         15
3   2002       Gold  301     298       42         66
4   2002     Silver  378     222      228         88
5   2002     Bronze  502     245      165        173
6   2003       Gold  321     276       86        163
7   2003     Silver  322     263       76        184
8   2003     Bronze  423     165       97        136
9   2004       Gold  298     146       43        152
10  2004     Silver  256     184      173        148
11  2004     Bronze  422     226       75        152
12  2005       Gold  311     248       83         73
13  2005     Silver  257     251       61         83
14  2005     Bronze  419     295       51         57
15  2006       Gold  378     176       83         47
16  2006     Silver  357     251       41         54
17  2006     Bronze  345     265       93         72

The set_index - allows for the creation of an index on an existing DataFrame and returns an indexed DataFrame.

In [4]:
dfIndexed = df.set_index('Year')
dfIndexed

     Medal Type   US  Canada  England  Australia
Year
2001       Gold  278     188       39         44
2001     Silver  324     235       82         66
2001     Bronze  446     399      100         15
2002       Gold  301     298       42         66
2002     Silver  378     222      228         88
2002     Bronze  502     245      165        173
2003       Gold  321     276       86        163
2003     Silver  322     263       76        184
2003     Bronze  423     165       97        136
2004       Gold  298     146       43        152
2004     Silver  256     184      173        148
2004     Bronze  422     226       75        152
2005       Gold  311     248       83         73
2005     Silver  257     251       61         83
2005     Bronze  419     295       51         57
2006       Gold  378     176       83         47
2006     Silver  357     251       41         54
2006     Bronze  345     265       93         72

The reset_index reverses set_index:

In [5]:
dfIndexed.reset_index()

    Year Medal Type   US  Canada  England  Australia
0   2001       Gold  278     188       39         44
1   2001     Silver  324     235       82         66
2   2001     Bronze  446     399      100         15
3   2002       Gold  301     298       42         66
4   2002     Silver  378     222      228         88
5   2002     Bronze  502     245      165        173
6   2003       Gold  321     276       86        163
7   2003     Silver  322     263       76        184
8   2003     Bronze  423     165       97        136
9   2004       Gold  298     146       43        152
10  2004     Silver  256     184      173        148
11  2004     Bronze  422     226       75        152
12  2005       Gold  311     248       83         73
13  2005     Silver  257     251       61         83
14  2005     Bronze  419     295       51         57
15  2006       Gold  378     176       83         47
16  2006     Silver  357     251       41         54
17  2006     Bronze  345     265       93         72